<mat-list role="list">
    <mat-list-item role="listitem">Quantidade: {{data.quantidade || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">Marca: {{data.marca || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">Modelo: {{data.modelo || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">Placa-Mae: {{data.placamae || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">Processador: {{data.processador || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">Memoria: {{data.memoria || 'no encontrado'}}</mat-list-item>
    <mat-list-item role="listitem">hd: {{data.hd || 'no encontrado'}}</mat-list-item>
</mat-list>